{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="header-portada-perfil">
  <img class="foto-perfil" src="{% load static %}{% static 'core/assets/img/perfil.jpg '%}" >
  <button class="btn btn-primary " type="button">Seleccionar Imagen</button>
  <h1 class="user-name">Vienvenido: Jesus</h1>
</div>
<div class=" resultado"></div>
  <table id="alumno">
    <tr>
      <th>Matricula </th>
      <td></td>
    </tr>
    <tr>
      <th>Tipo de Escolaridad </th>
      <td></td>
    </tr>
      <tr>
      <th>Nombre de la Carrera </th>
      <td></td>
    </tr>
    <tr>
      <th>Nombre del Alumno </th>
      <td>Jesus</td>
    </tr>
    <tr>
      <th>Apellido Paterno </th>
      <td>Tejeda</td>
    </tr>
    <tr>
      <th>Apellido Materno</th>
      <td>Abad</td>
    </tr>
    <tr>
      <th>Direccion </th>
      <td></td>
    </tr>
     <tr>
      <th>Mail </th>
      <td></td>
    </tr>
    <tr>
      <th>Telefono </th>
      <td></td>
    </tr>
    <tr>
      <th>Contraseña </th>
      <td></td>
    </tr>
    <tr>
      <th>Acredor a Beca </th>
      <td></td>
    </tr>
     <tr>
      <th>Tipo de Beca </th>
      <td></td>
    </tr>
     <tr>
      <th>Porcentaje de Beca </th>
      <td></td>
    </tr>
  
  </table>

</div>
<div></div>


{% endblock %}